<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false" version="3.0">

    <display-name>Esal Core</display-name>

    <!-- Certificate authentication, uncomment to enable -->

    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SADAD Payments WS</web-resource-name>
            <url-pattern>/services/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>secureconn</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>SADAD Payments WS</realm-name>
    </login-config>

    <security-role>
        <role-name>secureconn</role-name>
    </security-role>
    -->

    <!-- EoF Certificate authentication, uncomment to enable -->

</web-app>